POSTGRES_DB=killedb
POSTGRES_USER=killeuser
POSTGRES_PASSWORD=killepass

# Yandex Cloud
YANDEX_CLOUD_ACCESS_KEY=your-access-key
YANDEX_CLOUD_SECRET_KEY=your-secret-key
YANDEX_SPEECHKIT_API_KEY=your-speechkit-api-key
YANDEX_CLOUD_BUCKET=kille
YANDEX_CLOUD_CHAPTERS_PREFIX=books
YANDEX_CLOUD_PATH_STYLE_ACCESS_ENABLED=true
YANDEX_SPEECHKIT_FOLDER_ID=folder_id
YANDEX_SPEECHKIT_ENDPOINT=https://stt.api.cloud.yandex.net/stt/v3/recognizeFileAsync


# Bootstrap admin
BOOTSTRAP_ADMIN_EMAIL=admin@kille.local
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=admin12345

# Monitoring
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
ALERTMANAGER_WEBHOOK_URL=http://host.docker.internal:5001/alerts
