POSTGRES_DB=killedb
POSTGRES_USER=killeuser
POSTGRES_PASSWORD=killepass

YANDEX_CLOUD_ACCESS_KEY=a_k
YANDEX_CLOUD_SECRET_KEY=s_k
YANDEX_CLOUD_BUCKET=killebooks
YANDEX_CLOUD_CHAPTERS_PREFIX=books
YANDEX_CLOUD_PATH_STYLE_ACCESS_ENABLED=true
YANDEX_SPEECHKIT_API_KEY=speechkit_api_key